<div class="card mt-4">
  <div class="card-body">
    <br>
    <h3 class="card-title"><%= @ad.title%></h3>
    <h4><%= humanized_money_with_symbol @ad.price%></h4>
    <p class="card-text"><%= md_to_html @ad.description.html_safe %>
      <br>

      <% if @ad.member.profile_member.blank?%>
      <% else%>
        <h4>Contato: 
        <%= @ad.member.profile_member.phone %>
        
           
        </h4>
        <% if @ad.active? %>
          <% if member_signed_in? %>
            <div class="text-right">
                <%= form_tag(checkout_payments_path) do %>
                  <%= hidden_field_tag :ad_id, @ad.id %>
                  <%= submit_tag "Solicitar", class:"btn btn-success", data: { confirm: "Deseja realmente solicitar esse serviço?"}%>
                <% end %>
            </div>
          <% else %>
            <div class="text-right">
                <%= link_to "Efetue login para solicitar", new_member_session_path, class:"btn btn-success", disabled: true %>
            </div>
          <% end %>
        <% else %>
          <div class="text-right">
            <%= link_to "#{@ad.status_i18n}", '#', class:"btn btn-success", disabled: true %>
          </div>
      <% end %>
      <%end %>
    </p>
  
   
    <div class="well well-sm">
      <div class="ratings">
        <p class="pull-right"> <%= @ad.comments.count %> <%= t('labels.comments')%> </p>
        <%= rating_for @ad, 'quality', star_path: '/images/ratyrate' %>
        <%= number_with_precision(@ad.avg_rating_dimension(@ad), precision: 1) %>
      </div>
</div>
     
  </div>
</div>
<hr>

<div class="card card-outline-secondary my-4">
  <div class="card-header">
    <h4> Comentários </h4> 
  </div>
  <br/>
  <div class="card-body">
   <%= render partial: 'site/ad_detail/comments' %>
  <hr>
  <% if member_signed_in?%>
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#commentModal">
        Deixe um Comentario
    </button>
  <%else %>
  <button type="button" class="btn btn-success" data-toggle="modal" disabled="disabled" data-target="#commentModal">
        Deixe um Comentario
    </button>
  <% end%>

  </div>
</div>
<!-- /.card -->

<%= render partial: 'site/ad_detail/comment_modal' %>
<br>