
<div class="container">    
  <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
      <div class="panel panel-info">
        <div class="panel-heading">
            <div class="panel-title">Cadastrar-se</div>
            <div style="float:right; font-size: 85%; position: relative; top:-10px"></div>
        </div>  
        <div class="panel-body" >
             <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "form-horizontal", role:"form" }) do |f| %>

                <%= f.fields_for :profile_member do |profile_fields| %>    
                    <div class="form-group">
                        <%= profile_fields.label :first_name, class:"col-md-3 control-label" %>
                        <div class="col-md-9">
                            <%= profile_fields.text_field :first_name, autofocus: false, class:"form-control", placeholder:"Nome" %>
                        </div>
                    </div>
                    <div class="form-group">
                        <%= profile_fields.label :phone, class:"col-md-3 control-label" %>
                        <div class="col-md-9">
                            <%= profile_fields.text_field :phone, autofocus: false, class:"form-control", placeholder:"Telefone" %>
                        </div>
                    </div>
                <%end %>
                  
                <div class="form-group">
                    <%= f.label :email, class:"col-md-3 control-label" %>
                    <div class="col-md-9">
                        <%= f.email_field :email, autofocus: false, class:"form-control", placeholder:"E-mail" %>
                    </div>
                </div>
                    
                <div class="form-group">
                     <%= f.label :password, class:"col-md-3 control-label"  %>
                    <div class="col-md-9">
                        <%= f.password_field :password, autocomplete: "off", placeholder:"Password", class:"form-control" %>
                    </div>
                </div>
                <div class="form-group">
                     <%= f.label :password_confirmation, class:"col-md-3 control-label"  %>
                    <div class="col-md-9">
                        <%= f.password_field :password_confirmation, autocomplete: "off", placeholder:"Password Confirmation", class:"form-control" %>
                    </div>
                </div>
                    
                <div class="form-group">
                    <!-- Button -->                                        
                    <div class="col-md-offset-3 col-md-9">
                        <%= f.submit "Cadastrar-se", class:"btn btn-info" do %>
                          <i class="icon-hand-right"></i>
                        <% end%>
                        
                    </div>
                </div>
                <%end %>

  </div>  
</div>




  <div id="signupbox" style="display:none; margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
              
  </div>

         
         
          
   </div> 
</div>

<% unless devise_error_messages!.blank? %>
    <% resource.errors.full_messages.each do |message| %>
        <script>
            $.notify("<%= message %>", "error")
        </script>
    <% end %>
<% end %>



